<h3>Readings</h3>

{{outlet}}

{{#paper-list}}
  {{#each model as |reading|}}
    {{#paper-item class='md-3-line'}}
      <div class="md-list-item-text">
        <h3>Reading: {{ reading.reading }}</h3>
        <p>Location: {{ reading.location}}, Time: {{ reading.createdAt }}</p>
      </div>
    {{/paper-item}}
    {{paper-divider}}
  {{/each}}
{{/paper-list}}